<!DOCTYPE html>
<html lang="zh_CN">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <title>
            {% block title %}{% endblock %}
        </title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
        {% block tcss %}
        <link href="{{ asset('css/pub.css') }}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
        {% block bjs %}
        <script src="{{ asset('js/pub.js') }}"></script>
        {% endblock %}
    </body>
</html>