{% extends 'public/base.html.twig' %}

{% block title %}非法操作{{ parent() }}{% endblock %}

{% block tcss %}
{{ parent() }}
{% endblock %}

{% block body %}
	<div class="login-box">非法操作</div>
{% endblock %}

{% block bjs %}
{{ parent() }}
{% endblock %}