{% set route = app.request.attributes.get('_route') %}
{% if not(app.user) and route!='login' and route!='register' %}

{% endif %}
<div class="container">
  <p>如果您有好的意见或建议，请联系我们。</p>
  <ul class="list-inline">
    <li><a href="#">关于我们</a></li>
    <li class="muted">&middot;</li>
    <li><a href="#">投诉建议</a></li>
    <li class="muted">&middot;</li>
    <li><a href="#">网站公告</a></li>
  </ul>
</div>