{% set route = app.request.attributes.get('_route') %}
{% if not(app.user) and route!='login' and route!='register' %}
	{{ include('public/login.html.twig') }}
{% endif %}
<div class="text-center">
  <ul class="list-inline">
  	<li class="list-inline-item initialism"><a href="#">关于我们</a></li>
  	<li class="list-inline-item initialism"><a class="muted">&middot;</a></li>
  	<li class="list-inline-item initialism" class="list-inline-item"><a href="#">投诉建议</a></li>
  	<li class="list-inline-item initialism"><a class="muted">&middot;</a></li>
  	<li class="list-inline-item initialism"><a href="#">网站公告</a></li>
  </ul>
  <p>© {{ "now"|date("Y") }} a6vi</p>
  <small>如果您有好的意见或建议，请联系<a href="#" onclick="javascript:window.open('http://wpa.qq.com/msgrd?v=3&uin=380493570&site=qq&menu=yes', '_blank', 'height=502, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');">我们</a>。</small>
</div>